div.first{
    display: inline-block;
    position: relative;
    margin-top: 100px;;
    width: 500px;
    height: 15px;
    background-color: #e2e2e2;
    box-shadow: 10px 3px 5px 0px rgba(158, 158, 158, 0.75);
}
div.second{
    position: absolute;
    top: -7px;
    left: 10px;
    width: 15px;
    height: 30px;
    background-color: #ae4945;
    box-shadow: 2px 3px 5px 0px rgba(158, 158, 158, 0.75);
}
